@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body{
    background-color: black;
}
.title {
    font-family: 'Righteous', 'cursive';
}

.hero {
    min-height: calc(100vh - 68px);
}

.mega-hero {
    background-image: url("https://i.ibb.co/HPNyTx7/Hero-Back-Ground.png");
    background-size: cover;
}

.hero-fader{
    height: 40px;
    background-image: linear-gradient(#00000000, black);
}

.section {
    margin-top: 200px;
}

.section_posts{
    margin-top: 100px;
}



.hamburger {
    height: 24px;     
    fill: #FFA132;

}



/* Post car styles */
.post_card{
   
    transition: all;
    transition-duration: 500ms;
    border-radius: 20px;


}


.blog_content {
    line-height: 40px;
}

a{
    text-decoration: none !important;
    transition: all !important;
    transition-duration: 500ms !important;
}



.author_image{
    height: 60px;
    width: 60px;
}